.reviews{
    padding: 5rem 4rem;
}
.reviews-carousel{
    width: 80%;
    margin: auto;
}
.reviews-carousel .image{
    height: 100px;
    width: 100px;
    background: #ccc;
    border-radius: 50%;
}

.reviews-carousel .item{
    width: 80%;
}