:root {
  --primary-clr: #c4364e;
  --white-clr: #fff;
  --nav-link-clr: #f89e9e;
  --green-clr: #5eb689;
  --heading-clr: #41404d;
  --purple-clr: #07164b;
  --light-text-clr: #40444f;

  --fs-main-heading: clamp(2rem, 5vw, 4rem);
  --fs-sub-heading: clamp(2rem, 4vw, 3rem);
  --fs-primary-text: clamp(1.4rem, 2.5vw, 1.8rem);
  /* -fs-secondary-text: ; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
p {
  margin: 0;
}
.app-preview {
  position: relative;
  font-weight: 700;
  margin-top: 6rem;
}
.app-previewTop {
  height: 20rem;
  background: url("../images/wave-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
  object-fit: cover;
  gap: 4em;
}
.app-preview .card h1 {
  background: linear-gradient(180deg, #159d89 0%, #223ea2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-preview .card {
  height: 15rem;
  width: 15rem;
  border-radius: 4rem;
  display: grid;
  place-items: center;
  place-content: center;
}
.app-preview .card h1 {
  font-size: var(--fs-sub-heading);
  font-weight: 700;
}
.app-preview .card p {
  font-size: var(--fs-primary-text);
}

/* App preview bottom  */
.app-previewBottom {
  background: var(--primary-clr);
}
.app-previewBottom .heading h1 {
  font-size: var(--fs-main-heading);
  margin-bottom: 1em;
  font-weight: 700;
}
.primary-cta {
  font-size: var(--fs-primary-text);
  padding: .5em 1em;
  border-radius: 10rem;
  color: var(--primary-clr);
}
.app-previewBottom .image-wrapper {
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 0 4em;
}

@media all and (max-width: 480px) {
  .app-previewBottom .image-wrapper {
    flex-direction: column;
  }
}

.app-preview .image-wrapper .preview-image {
  z-index: 1;
}
.app-preview .preview-image:nth-child(2) {
  transform: scale(1.2);
}
.app-preview .image-wrapper img {
  width: 100%;
}
.app-previewBottom {
  padding-bottom: 2em;
}

/* white curve background */
.white-curve {
  width: 100%;
  position: absolute;
  margin-top: -10em;
  bottom: 0;
}
.white-curve img {
  width: 100%;
}
/* Our Services */

@media all and (max-width: 1025px) {
  .app-preview .card {
    height: 14rem;
    width: 14rem;
  }
}

@media all and (max-width: 780px) {
  :root {
    --fs-main-heading: clamp(1.8rem, 5vw, 3rem);
    --fs-sub-heading: clamp(1.6rem, 4vw, 2.4rem);
    --fs-primary-text: clamp(1.25rem, 2.5vw, 1.6rem);
  }
  .app-previewTop {
    height: 16rem;
  }
  .app-previewBottom .image-wrapper {
    gap: 2em;
  }
  .app-preview .card {
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
  }
  .app-previewTop {
    gap: 2em;
  }
}
@media all and (max-width: 580px) {
  :root {
    --fs-main-heading: clamp(1.8rem, 5vw, 3rem);
    --fs-sub-heading: clamp(1.6rem, 4vw, 2.4rem);
    --fs-primary-text: clamp(1.25rem, 2.5vw, 1.6rem);
  }
}
@media all and (max-width: 480px) {
  :root {
    --fs-main-heading: clamp(1.6rem, 5vw, 2.4rem);
    --fs-sub-heading: clamp(1.4rem, 4vw, 2.6rem);
    --fs-primary-text: clamp(1.2rem, 2.5vw, 1.4rem);
  }
  .app-preview .card {
    height: 10rem;
    width: 10rem;
  }
  .app-previewBottom .image-wrapper {
    flex-direction: column;
  }
  .app-preview .preview-image:nth-child(2) {
    transform: scale(1);
  }
}
@media all and (max-width: 360px) {
  :root {
    --fs-main-heading: clamp(1.4rem, 5vw, 2rem);
    --fs-sub-heading: clamp(1.2rem, 4vw, 2.4rem);
    --fs-primary-text: clamp(1rem, 2.5vw, 1.2rem);
  }
  .app-preview .cards {
    gap: 1rem;
  }
  .app-preview .card {
    height: 9rem;
    width: 9rem;
  }
  .app-preview .card h1 {
    font-size: 5vw;
  }
  .app-preview .card p {
    font-size: 3vw;
  }
}
